.welcomeBoardContainer {
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 100px;
}

img {
    width: 600px;
    height: 600px;
    position: absolute;
}

.imgContainer {
    display: flex;
    justify-content: center;
    padding-right: 200px;
}
