button {
    border: none;
    background-color: rgb(117, 108, 175);
    font-size: 24px;
    color: rgb(242, 228, 228);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(71, 61, 133);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(219, 72, 46);
  }
  
  .equals:hover {
    background-color: rgb(176, 33, 14);
  }

  .operator {
    background-color: rgb(67, 224, 171);
  }