html, body {
    margin: 0;
    padding: 0;
}

#page-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at top, #e2dc97, #abec93)
}

footer {
    margin-top: auto;
}